<div class="container compact profile-page" *ngIf="gnomes[id]">

  <div class="profile-card">
    <img class="profile-pic" width="100px" src="{{gnomes[id].thumbnail}}">
    <div>
      <h3>{{gnomes[id].name}}</h3>
    </div>
  
    <div class="property">
        <p class="label">Age:</p>
        <p class="value">{{gnomes[id].age}}</p>
    </div>
    <div class="property">
        <p class="label">Weight:</p>
        <p class="value">{{gnomes[id].weight}}</p>
    </div>
    <div class="property">
        <p class="label">Height:</p>
        <p class="value">{{gnomes[id].height}}</p>
    </div>
    <div class="property">
        <p class="label">Hair color:</p>
        <p class="value">{{gnomes[id].hair_color}}</p>
    </div>
    <div class="property">
        <p class="label">Professions</p>
        <p class="value">{{gnomes[id].professions}}</p>
    </div>
    <div class="property">
        <p class="label">Friends:</p>
        <p class="value">{{gnomes[id].friends}}</p>
    </div>
  </div>

</div>
  
