/* You can add global styles to this file, and also import other style files */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

/* ---- typography ---- */

body {
  color: #212322;
  font-size: 16px;
  line-height: 147%;
  font-family: 'Assistant-Regular', sans-serif;
}

h1 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

h2 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
}

h3 {
  margin-top: 0px;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}

p {
  margin: 0;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 1.34;
}

/* ------- home-page -------- */

.container {
  margin: 0 20px;
}

.sort-header {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px 20px 0 20px;
  background: hsl(154, 69%, 35%);
  box-shadow: 0 2px 12px 0 hsla(0, 0%, 0%, 0.2) ;
}

.sort-header h1 {
  color: hsl(0, 0%, 100%);
  font-size: 24px;
}

.sort {
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  justify-content: center; 
  width: 100%;
}

.sort p {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: hsl(154, 69%, 85%);
}

.sort-select {
  background-color: #ffffff;
  border: 1px solid #cfd7e6;
  border-radius: 4px;
  margin-left: 10px;
  font-size: 14px;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100%;
  max-width: 400px;
}


/* -- cards home -- */
.gnomes-page {
  padding-top: 20px;
  padding-bottom: 60px;
}

.cards-container{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: center;
}

.profile-pic-home {
  border-bottom: 10px solid #1C9963;
}

.card-home {
  background: #ffffff;
  background-image: linear-gradient(#ffffff,#F9F7FC);
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  margin: 0 20px 40px 20px;
  max-width: 520px;
}

.card-home img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.card-home .description {
  padding: 0 10px 10px 10px;
}

.card-home p {
  color: hsla(150, 3%, 13%, 0.75);
  margin-bottom: 20px;
}

.card-home h3 {
 margin-top: 5px;
 color: hsla(150, 3%, 13%, 0.8);
}

.card-home a {
  text-decoration: none;
 }

.button {
  font-family: 'Oswald', sans-serif;
  color: #FFFFFF;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  background-color: #1C9963;
  width: 100%;
  line-height: 55px;
  display: block;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: none;
}

/* --- Gnome profile page --- */

.profile-card {
  margin: 20px 0px 0px 0px;
  background: #ffffff;
  background-image: linear-gradient(#ffffff,#F9F7FC);
  border-radius: 4px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  padding-bottom: 5px;
}

.profile-card h3 {
  margin-top: 20px;
}

.profile-card h3, .label, .value {
 color: hsla(150, 3%, 13%, 0.8);
 padding: 0 20px;
}

.label {
  font-weight: bold;
  font-size: 16px;
}

.value {
  margin-bottom: 20px;
}

.profile-card p {
  color: hsla(150, 3%, 13%, 0.75);
 }

.profile-card img {
  width: 100%;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}


/* -- tablet version -- */

@media(min-width: 520px){

  .container.compact {
    max-width: 480px;
    margin: 0 auto;
    padding-bottom: 40px;
  }

}

/* -- web version -- */

@media(min-width: 767px ){

  /* --- Home --- */

  .container {
    max-width: 728px;
    margin: 0 auto;
  }

  .cards-container {
    max-width: 728px;
    display: flex;
    justify-content: center;
  }

  .card-home {
    width: 100%;
    max-width: 280px;
  }

  .masonry { 
    display: flex;
    flex-flow: column wrap;
    max-height: 500vh;
    margin-left: -10px;
  }
  
  .masonry-brick {
    margin: 0 10px 10px 0;
  }

  .card-home-content {
    display: flex;
    flex-direction: column;
  }

  .btn-cards {
    align-self: flex-end;
  }

  /* -- gnomes list page -- */

  .gnomes-page {
    min-height: calc(100vh);
  }

  /* -- gnome profile page -- */

  .property {
    padding: 10px 0;
    font-size: 16px;
  }

  .profile-card {
    margin: 20px 0px 0px 0px;
  }

  .profile-card img {
    width: 100%;
  }

  .profile-page {
    padding-top: 20px;
    margin-bottom: 40px;
  }

  .sort p {
    font-size: 16px;
  }

}

